@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;1,100;1,200;1,300;1,700&display=swap');

/* remove from html standards */
* {
    margin: 0;
    padding: 0;
}

a { 
    color:rgb(116, 116, 116);    
}

a:hover{
    text-shadow: 10px 10px 10px black;
}

/*set font for whole page */
body{
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    font-family: poppins;
    font-weight: 200;
    overflow-x: hidden;
}

/* welcome-animation */

#welcome-animation-container{
    z-index: 50000;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    animation-name: welcome-make-inactive;
    animation-duration: 3.8s;
    animation-fill-mode: forwards;
}
#welcome-animation-upper-left{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(103, 255, 129);
    height: 50%;
    width: 50%;
    z-index: 2020;
    animation-name: welcome-slide-up;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#upper-left-welcome-slide{
    position: absolute;
    height: 100px;
    bottom: 0;
    right: 0;
}

#welcome-animation-upper-left h1{
    position:absolute;
    bottom: 8rem;
    right: 0;
    
}



#welcome-animation-upper-right{
    position: absolute;
    background-color: rgb(55, 194, 90);
    height: 50%;
    width: 50%;
    top: 0;
    right: 0px;
    z-index: 2015;
    animation-name: welcome-slide-right;
    animation-delay: 2.1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#upper-right-welcome-slide{
    position: absolute;
    height: 118px;
    bottom: 0;
    left: 0;


}

#welcome-animation-upper-right h1{
    position:absolute;
    left: 2rem;
    bottom: 8rem;
    
}



#welcome-animation-bottom-right{
    position: absolute;
    background-color: rgb(43, 155, 71);
  
    height: 50%;
    width: 50%;
    font-size: 3vw;
    bottom: 0;
    right: 0;
    z-index: 2016;
    animation-name: welcome-slide-bottom;
    animation-delay: 2.3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }

    #bottom-right-welcome-slide{
        position: absolute;
        height: 100px;
        top: 0;
        left: 0;
    }

    #welcome-animation-bottom-right h1{
        position:absolute;
        left: 20px;
        top:8rem;
        left: 5rem;
        
    }
    
     

#welcome-animation-bottom-left{
    position: absolute;
    background-color: rgb(100, 214, 129);
    height: 50%;
    width: 50%;
    bottom: 0;
    left: 0;
    z-index: 2013;
    font-size: 3vw;;
    animation-name: welcome-slide-left;
    animation-delay: 2.7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#bottom-left-welcome-slide{
    position: absolute;
    height: 100px;
    top: 0;
    right: 0;
}

#welcome-animation-bottom-left h1{
    position:absolute;
    right: 10rem;
    top: 8rem;

    
}

/* header */
#header{
    position: sticky;
    top:0;
    width: 100%;
    height: auto;
    min-height: 80px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.877);   
    z-index: 1003;
    display:grid;
    grid-template-columns: 1fr 3fr;
}

#logo-big{
    height: 70px;
    float: left;
    padding-left: 5px;
    text-shadow: 0px 0px 4px rgb(205, 255, 217);
}

#logo-big p{
    font-size: 1rem;
}

#navigation-list{

    background-color: rgba(255, 255, 255, 0.877);

    width: 100%;
    min-width: 100%;
    list-style: none;
    font-size: 1.5rem;
    text-align: right;
    text-shadow: 0px 0px 4px rgb(205, 255, 217);
}

.nav-item{
    float: right;
    margin: 0  2rem;
    line-height: 70px;
}

/* presentation */

#presentation-background{
    background-image: url("../wood-plants.jpg");
    background-size: cover;
    min-height: 15rem;
    padding: 8rem 3rem;
}

#presentation-container{
    background-color: rgba(32, 175, 51, 0.637);
    border-radius: 250px 0px 0px 0px;
    max-width: 60rem;
    box-shadow: 10px 10px 20px black;
    

}

#presentation-text{
    font-size: 1.5rem;
   
}

#presentation-text h2{
    text-align: center;
    color:rgb(0, 41, 2);
}

#plant-guy-image{
    height: 26rem;
}

#owner-picture-container{
    float: left;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 20px 5px 50px black;
}

#arrow-down{
    color: rgb(101, 202, 88);
    text-align: right;
    position: relative;
    font-size: 7rem;
    animation-name: arrow-movement;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    right :4rem;
    float: right;
    margin-top: rem;
    text-shadow: 4px 4px 10px black;
}

@keyframes arrow-movement {
    0%{
        top: -4rem;
    }

    50%{
        top: 0rem;
    }
    100%{
        top: -4rem;
    }
   
}
#fun-quote-text {
    margin-top: 5rem;
    text-align: center;
    animation-name: slide-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-bottom: 10rem;
} 

/* products */

#products-grid-container{
    margin-top: 5rem;
    background-color: rgb(231, 231, 231);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:  "a a a"
                          "b c d";
    text-align: center;
    column-gap: 5rem;
}

#products-grid-container > .section-logo{
    font-size: 2rem;
    grid-area: a;
    text-align: center;
  }

#products-grid-container > #product-1{
    
    grid-area: b;
    text-align: center;
  }
  #products-grid-container > #product-2{
    
    grid-area: c;
    text-align: center;
  }
  #products-grid-container > #product-3{
    
    grid-area: d;
    text-align: center;
  }



/* footer */

#footer-grid-container{
    background-color: rgb(231, 231, 231);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:  "a a a a"
                          "b b c c"
                          "d d d d";
    text-align: center;
    column-gap: 5rem;
  }
  
  #footer-grid-container > .section-logo{
      font-size: 2rem;
    grid-area: a;
    text-align: center;
  }
  
  #footer-grid-container > #section-opening-hours{
    text-align: right;
    grid-area: b;
  }
  
  #footer-grid-container > #section-contact{
  text-align: left;
    grid-area: c;
  }
  
  #footer-grid-container > #section-social{
    grid-area: d;
  }

  #section-social{
      word-spacing: 20rem;
      color: rgb(255, 255, 0);
      padding-bottom: 1rem;
      font-size: 2rem;
  }



/* psuedo */

/*animation */

@keyframes slide-in {
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }
    
}
/* welcome animation */

 @keyframes welcome-slide-up {
    from{
        top: 0;
    }
    to{
        top: -100%;
        visibility: hidden;
    }
    
}

@keyframes welcome-slide-right {
    from{
        right: 0;
    }
    to{
        right: -100%;
        visibility: hidden;
    }
    
}

@keyframes welcome-slide-bottom {
    0%{
        bottom: 0;
    }
    30%{visibility: hidden;

    }
    100%{
        bottom: -100%;
        visibility: hidden;
    }
    
}

@keyframes welcome-slide-left {
    from{
        left: 0;
    }
    to{
        left: -100%;
        visibility: hidden;
    }
} 

@keyframes welcome-make-inactive{
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}
