* {
    margin: 0;
    padding: 0;
}

#header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(48, 139, 29, 0.534);

    
}

#logo-big{
    width: 30%;
    height: 50px;
    float: left;
    line-height: 25px;
}
#navigation-list{
    width: 50%;
    height: 50px;
    float: right;
    list-style: none;
}

.nav-item{
    display: inline-block;
    width: 19%;
    line-height: 50px;
}

#carousel{

    background-image: url(../images/house-plants-t.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    
}

#about-container{
    margin-top: 100px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto;
    
    
}

.about-item{
    /* position: relative; */
}

#owner-picture{
    background-image: url("../images/eric.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 60vh;
    width: 60vh;
 
}

#footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}