@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,300;1,100&display=swap');

/* remove from html standards */
* {
    margin: 0;
    padding: 0;
}

/*set font for whole page */
body{
    max-width: 100%;
    font-family: poppins;
    overflow-x: hidden;
}

/* welcome-animation */
#welcome-animation{
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    z-index: 6000;
}
#welcome-animation-top{
    position: absolute;
    background-color: rgb(238, 238, 238);
    height: 50%;
    width: 50%;
    font-size: 3vw;
    z-index: 2020;
    animation-name: welcome-slide-up;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#we{
    position: absolute;
    background-image: url("../images/upper-left.png");
    background-size: contain;
    bottom: 0;
    right: 0;
    background-position: bottom right;
    background-repeat: no-repeat;
    }

#welcome-animation-right{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 50%;
    top: 0;
    font-size: 3vw;
    right: 0px;
    z-index: 2015;
    animation-name: welcome-slide-right;
    animation-delay: 2.1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#lc{
    position: absolute;
    background-image: url("../images/upper-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    bottom: 0;
    left: 0;
}

#welcome-animation-bottom{
    position: absolute;
    background-color: rgb(245, 245, 245);
  
    height: 50%;
    width: 50%;
    font-size: 3vw;
    bottom: 0;
    right: 0;
    z-index: 2016;
    animation-name: welcome-slide-bottom;
    animation-delay: 2.3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    }

    #om{
        position: absolute;
        background-image: url("../images/bottom-left.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2030;
        top: 0px;
        right: 0;
        background-position: top right;
    }

#welcome-animation-left{
    position: absolute;
    background-color: rgb(216, 216, 216);
    height: 50%;
    width: 50%;
    bottom: 0;
    left: 0;
    z-index: 2013;
    font-size: 3vw;;
    animation-name: welcome-slide-left;
    animation-delay: 2.7s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#e{
    position: absolute;
    background-image: url("../images/bottom-right.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2030;
    top: 0px;
    left: 0;
    background-position: top left;
}
/* header */
#header{
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 70px;
    text-transform: uppercase;
    background-color: rgba(47, 139, 29, 0.877);   
    z-index: 1003;
}

#logo-big{
    height: 70px;
    float: left;
    padding-left: 5px;
    text-shadow: 0px 0px 4px rgb(205, 255, 217);
}

#logo-big p{
    font-size: xx-small;
}

#navigation-list{
    top: 0px;
    width: auto;
    height: 50px;
    float: right;
    list-style: none;
    font-size: larger;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(205, 255, 217)
}

.nav-item{
    display: inline;
    line-height: 70px;
    margin: 0 15px;
}

/* presentation */

#presentation{
    background-image: url(../images/house-plants-t.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 100px;
    width: 100%;
}

#awesome-quote{
    height: auto;
    margin: 10px 50px 10px 12%;
    margin-top: 50px;
    min-height: 200px;
    font-size: 1.7rem;
    background-color: rgba(30, 85, 4, 0.801);
    color: rgb(239, 245, 236);
    text-align: left;
    padding-right: 10px;
    border-radius: 10px;
   }

   #awesome-quote h2{
       text-align: center;
   }

#owner-picture{
    z-index: 100;
    position: relative;
    margin-left: -10%;
    float: left;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background-image: url("../images/eric.png");
    box-shadow: 0px 0px 20px black;
}

#fun-quote-text{
    margin-top: 50px;
    background-color: rgba(255, 228, 196, 0.87);
    text-align: center;
    margin-left: -100%;
    animation-name: slide-in;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* about section */
#about-section{
    margin-top: 50px;   
}

/* flip cards */

#flip-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    float: left;
    width: 100px;
    height: auto;
    min-height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }



/* footer */

#footer-container{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    text-align: center;
    z-index: 5000;
}

#opened{
    text-align: left;
    margin-left: 10px;
}
#adress{
    text-align: right;
    margin-right: 10px;
}


/* psuedo */

.nav-item:hover{
    color:white;
}
.nav-item:active{
    color: white;
}
#logo-big:hover{
    color: white;
}

/*animation */

@keyframes slide-in {
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }
    
}
/* welcome animation */

@keyframes welcome-slide-up {
    from{
        top: 0;
    }
    to{
        top: -100%;
    }
    
}

@keyframes welcome-slide-right {
    from{
        right: 0;
    }
    to{
        right: -100%;
    }
    
}

@keyframes welcome-slide-bottom {
    from{
        bottom: 0;
    }
    to{
        bottom: -100%;
    }
    
}

@keyframes welcome-slide-left {
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
    
}